body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    background: #343838;
    border: #008C9E 5px solid;
}
.cabecalho{
    width: 100%;
    height: 40%;
}
.cabecalho h1, .cabecalho .menu{
    display: inline-block;
}
.cabecalho h1{
    color: #F9F2E7;  
    text-transform: uppercase;  
}
.cabecalho .menu{
    width: 100%;
    height: 50%;
    list-style: none;
}
.cabecalho .menu li{
    float: left;
    padding: 0.5em 0.5em;
}
.cabecalho .menu li:hover{
    background: #005F6B;
}
.cabecalho .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #F9F2E7;
}    
.corpo{
    width: 100%;
    height: 60%;
}
.titulo{
    width: 100%;
    height: 40%;
}
.carro{
    width: 33%;
    height: 60%;
}
.carro p{
    width: 100%;
    height: 30%;
}
.carro img{
    width: 100%;
    height: 70%;
}
.onibus{
    width: 33%;
    height: 60%;
}
.onibus p{
    width: 100%;
    height: 30%;
}
.onibus img{
    width: 100%;
    height: 70%;
}
.metro{
    width: 33%;
    height: 60%;
}
.metro p{
    width: 100%;
    height: 30%;
}
.metro img{
    width: 100%;
    height: 70%;
}