@media only screen and (max-device-width: 900px){
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    background: #005F6B;
}
.cabecalho{
    width: 100%;
    height: 40%;
}
.cabecalho h1{
    color: white;  
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 50%;  
}
.cabecalho ul{
    text-decoration: none;
}
.cabecalho ul li{
    float: left;
    padding: 0.5em 0.5em;
}
.cabecalho ul li:hover{
    background: #005F6B;
}
.cabecalho ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}    
.corpo{
    width: 100%;
    height: 60%;
}
.titulo{
    width: 100%;
    height: 40%;
    text-align: center;
    color: white;
    border: 2px solid rgb(188, 101, 223);   
}
.carro{
    width: 33%;
    height: 70%;
    color: white;
    border: 2px solid rgb(188, 101, 223);  
}
.carro p{
    width: 100%;
    height: 30%;
    
}
.carro img{
    width: 100%;
    height: 70%;
}
.onibus{
    width: 33%;
    height: 60%;
    color: white;
    border: 2px solid rgb(188, 101, 223);  
}
.onibus p{
    width: 100%;
    height: 30%;
}
.onibus img{
    width: 100%;
    height: 70%;
}
.metro{
    width: 33%;
    height: 70%;
    color: white;
    border: 2px solid rgb(188, 101, 223);  
}
.metro p{
    width: 100%;
    height: 30%;
}
.metro img{
    width: 100%;
    height: 70%;
}
.carro, .metro, .onibus{
    float: left;
    height: 1%;
}
