{% extends "layout.html" %}

{% block index %}

  <h1 class="cadastro">Alterar informações!</h1>
  <div class= "formulario">
    <form action="/alterar/salvar" method="PUT">
      <input type="hidden" name="id" value="{{alteracao_pessoa.id}}"></th>   
      <input class="input" type="text" placeholder="CPF" name="cpf" value="{{alteracao_pessoa.cpf}}">
      <input class="input" type="text" placeholder="Nome" name="nome" value="{{alteracao_pessoa.nome}}">
      <input class="input" type="text" placeholder="Tipo" name="tipo" value="{{alteracao_tipo.tipo}}">
      <input class="input" type="text" placeholder="Inicial" name="inicial" value="{{alteracao_destino.inicial}}">
      <input class="input" type="text" placeholder="Final" name="final" value="{{alteracao_destino.final}}">
      <input class="input" type="text" placeholder="Distância" name="km" value="{{alteracao_distancia.km}}">
      <input class="input" type="text" placeholder="valor" name="valor" value="{{alteracao_valores.valor}}">
      <input class="btn btn-dark" type="submit" value="salvar">
  </div>             
{% endblock %}