{% extends "layout.html" %}

{% block index %}

    <h1>Cadastrar Transporte!</h1>


    <div class= "formulario">
        <form action="/transporte/salvar" method="POST"> 
            <input class="input" type="text" placeholder="nome" name="nome"> 
            <input class="input" type="text" placeholder="cpf" name="cpf">
            <input class="input" type="text" placeholder="tipo_transporte" name="tipo_transporte">
            <input class="input" type="text" placeholder="destino_inicial" name="destino_inicial">
            <input class="input" type="text" placeholder="destino_final" name="destino_final">
            <input class="input" type="text" placeholder="km" name="km">
            <input type="submit" value="salvar">       

        </form>
    </div>  
    
{% endblock %}