{% extends "layout.html" %}

{% block index %}
    <div class="titulo">
        <p>Inspirados nos avanços tecnológicos da Tesla Motors, a Fumaça Transportes emprega o que existe de mais avançado e sólido no mercado
            de transportes.</p>
        <p>Venha conosco nesta viagem e deguste um pouco do prazer que carinhosamente dedicamos para você.</p>
    </div>
    <div class="carro">
        <p>Se você como muitos, está cansado de conversar com motoristas de uber sobre a previsão do tempo para hoje, venha conosco conhecer
            as vantagens que só um carro autonomo pode proporcionar.</p>
        <p>Compatível com todas as tecnologias existentes, indique suas preferências, dedique seu tempo para você.</p>
        <img src="../static/tesla car.jpg" alt="">
    </div>
    <div class="onibus">
        <p>Se você como muitos, está cansado de motoristas que freiam de repente, escutam Massa FM e daqueles cobradores chatos que te 
            mandam dar um passinho para trás.</p>
        <p>Conheça nossa linha de Ônibus autonomos, combine e programe a viagem com seus amigos, com garantia de conforto e tranquilidade.</p>
        <img src="../static/busão da massa.jpg" alt="">
    </div>
    <div class="metro">
        <p>Se você como muitos, nunca conheceu um motorista de metro, agora mesmo que você nunca conhecerá.</p>
        <p>Tão rápido como uma viagem de avião com mais de cinco paradas, embarque em nosso metro autonomo, que mistura luxo e conforto
            para lhe prover o que há de melhor em viagens de média e longa distância.</p>
        <img src="../static/metro_grande.jpg" alt="">        
    </div> 



{% endblock %}