<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css.css">
    <title>Fumaça Transportes</title>
</head>

<body>
    <div class="cabecalho">
        <h1>Fumaça Transportes</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cadastrar">Cadastrar</a></li>
            <li><a href="/listar">Listar</a></li>
        </ul>  
    </div>
    <div class="corpo">
        {% block index %} 
        
        {% endblock %} 
    </div>
</body>
</html>